<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg_Sr1hwzFbv-r1pj-ze5_-AruOZBZUuU</string>
	<key>GCM_SENDER_ID</key>
	<string>894535308676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berk.KisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>deneme-a6450</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-a6450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894535308676:ios:3d991b3e5b7f8e5a0339d1</string>
</dict>
</plist>